<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="SimpleTwitterClient.presentation"
      android:versionCode="1"
      android:versionName="1.0.0">
    <application android:icon="@drawable/icon" android:label="SimpleTwitterClient" android:name="presentation.SimpleTwitterClient">
        <activity android:name="presentation.PListaNote"
                  android:label="SimpleTwitterClient">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="presentation.PImpostazioni" android:label="SimpleTwitterClient &gt;&gt; Impostazioni account">
		</activity>
		<activity android:name="presentation.PListaUtenti" android:label="SimpleTwitterClient &gt;&gt; Gestione Amici">
		</activity>
    </application>
<uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest> 